# PyInstaller
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
.venv/

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Archivos
app.py
*.spec
run.py

static/Crear files-list.txt